@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Open+Sans:wght@300;400;500&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(../assets/background.jpg);
}

.tab {
    width: 100px;

}

.keyboard {
    width: 70%;
    margin: 25px 0;
    padding: 10px 0;
    background: url(../assets/keyboard.jpg);
    user-select: none;
}


.text-pull {
    text-decoration: none;
    color: #8d5b5b;
    transition: all 0.4s;
}

.text-pull:hover {
    color: #fffcfc;
}

.keyboard__keys {
    text-align: center;
}

.keyboard-in {
    width: 65%;
    height: 150px;
    margin: 0 auto;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #2a2929;
}

button.keyboard__key.tab {
    width: 110px;
    background: #525252;
}

button.keyboard__key.tab:active {
    background: rgba(255, 255, 255, 0.2);
}

.keyboard__key {
    height: 45px;
    width: 6%;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    font-family: 'Open Sans';
    transition: all 0.5s;
}

.keyboard__key:hover {
    background: rgba(0, 0, 0, 0.5);
}

.virtual-key {
    font-size: 22px;
    font-family: 'Open Sans';
    font-weight: 300;
    color: #ffffff;
    text-align: center;
}


.keyboard__key:hover {
    background: #8ac5de;
    border: 50px
}

.keyboard__key.active {
    border: 130px
}

.key-color {
    background: #8d5b5b;
}

.key-color:hover {
    background: #883535;
}

.keyboard__key--wide {
    width: 12%;
}

.keyboard__key--extra-wide {
    width: 25em;
    max-width: 500px;
}

.keyboard__key--activatable::after {
    content: '';
    top: 10px;
    right: 10px;
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.keyboard__key--active::after {
    background: #ff02d4;
}

.keyboard__key--dark {
    background: rgba(0, 0, 0, 0.25);
}

.caps:active {
    background: rgb(0 0 0 / 70%);

}